*{
	box-sizing: border-box;
}

body {
	background-color: #1a1a1a;
	margin: 0;
	line-height: 0;
	overflow-x: hidden;
}

.clearfix {
  clear: both;
}

::-webkit-input-placeholder{
	color: #ffffff;
}

button{
	border: none;
	background-color: transparent;
	outline: 4px solid #0566E4;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	padding: 10px;
}

button:hover{
	background-color: #0566E4;
	border-radius: 0;
}

input{
	border: none;
	background-color: transparent;
	outline: 3px solid #ffffff;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: #ffffff;
	padding: 10px;
	margin: 10px 0px;
}

h1{
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #ffffff;
	padding: 25px 0px;
	margin: 0px;
}
h2{
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
	margin: 0px;
}
p{
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: #ffffff;	
	padding: 10px 0px;
	margin: 0px;
}
h3{
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	margin: 0px;
}

span{
	background: rgba(0, 0, 0, 0.7);
	padding: 25px;
	position: absolute;
	bottom: 0;
	min-width: 100%;
	width: 100%;
	line-height: 1;
}

span:hover{
	background: rgba(5, 102, 228, 0.7);
}

.inline-block{
	display: inline-block;
}

.title{
	text-align: left;
	padding-left: 100px;
	margin: 0px;
	padding-top: 50px;
}

.float-left{
	position: relative;
	float: left;
}

.float-right{
	position: relative;
	float: right;
}

.active{
	color: #0566E4;
}

nav{
	height: 210px;
	background-image: url(../images/navbar.png);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}


nav .logo{
	display: inline-block;
	top: 35px;
	left: 50px;
	width:auto;
	height: 70%;
}

nav ul li{
	display: inline-block;
}

nav a{
	text-decoration: none;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding-left: 25px;
}

.fa-search {
	color: #ffffff;
}

nav .searchbar{
	display: inline-block;
	top: 70px;
	right: 50px;
}

.search{
	border: none;
	outline: none;
	border-bottom: 3px solid #ffffff;
	width: 155px;
	background-color: transparent; 
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: #ffffff;
}

.featured-news{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 550px;
	padding: 50px 100px;
	margin-bottom: 100px;
}

.featured-1{
	position: relative;
	width: 50%;
	height: 100%;
	background-image: url(../images/rebirth.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 25px;
}


.featured-2{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.featured-2 div{
	height: 50%;
	position: relative;
}

.featured-2 div:first-child{
	background-image: url(../images/awest.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}	

.featured-2 div:last-child{
	background-image: url(../images/75yrs.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.comic-news{
		padding: 50px 100px;
		height: auto;
		line-height: 1;
		margin-bottom: 100px;
}

.comics{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 250px;
}

.comic-news .comic{
	width: 33.333%;
	height: 500px;
	line-height: 1;
	margin: 0 100px;
}

.comic-news .comic img{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}

.comic-news .comic h2{
	width: 100%;
}


.comic-review{
	width: 100%;
	text-align: right;
}

.comic-review p{
	display: inline-block;
	color: #0566E4;
	padding-right: 25px;
}
.comic-review button{
	display: inline-block;
}

.movie-news{
	padding: 50px 100px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.transww{
	position: absolute;
	top: -100px;
	left: 75%;
	z-index: 99;
}

.movie-news .movie-1{
	width: 75%;
	height: 400px;
	background-image: url(../images/wonderbanner.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}

.movie-news .movie-2{
	width: 75%;
	height: 200px;
	display: flex;
	flex-direction: row;
}

.movie-news .movie-2 div{
	width: 33.333%;
	overflow: hidden;
	position: relative;
}

.movie-news .movie-2 div:nth-child(2){
	margin: 0 10px;
}

.movie-news .movie-2 div img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.tv-news{
	padding: 50px 100px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 100px;	
}

.tv-1{
	height: 550px;
	width: 50%;
	margin-right: 25px;
}

.tv-1 iframe{
	width: 100%;
	min-height: 100%;
	height: auto;
}

.tv-2{
	width: 25%;
}

.tv-2 div{
	width: 100%;
	height: 50%;
}

.tv-2 div:first-child{
	margin-bottom: 10px;
}

.tv-2 div:last-child{
	position: relative;
	background-image: url(../images/supergirl.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.tv-2 iframe{
	width: 100%;
	min-height: 100%;
	height: auto;
}

.transsg{
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 99;
}

.gaming-news{
	padding: 50px 100px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 100px;
	line-height: 1;
}

.gaming-news .game-1, .gaming-news .game-2{
	width: 25%;
	margin: 50px;
	height: 550px;
}

.gaming-news .game-3{
	width: 50%;
	height: 450px;
	margin: 50px;
	position: relative;
	background-image: url(../images/injustice2.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.gaming-news .game-3 button{
	position: absolute;
	bottom: -60px;
	right: 0;
}


footer{
	width: 100%;
	height: 300px;
	margin: 0px;
	background-image: url(../images/DCfooter.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 25px;
}

footer ul li{
	color: #ffffff;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	display: block;
	line-height: 1;
	margin-bottom: 10px;
}


footer .sites ul{
	display: block;
	margin-bottom: 10px;
}

footer .dc-ent{
	margin: 0 100px;
}

footer .newsletter input{
	margin: 10px 0;
}

footer .newsletter button{
	margin-top: 10px;
}

footer .newsletter h2{
	margin-bottom: 10px;
}

.sub-footer{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
}

.sub-footer .follow-us{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sub-footer .follow-us img{
	height: 40px;
	width: auto;
	padding-left: 10px;
}

.sub-footer a{
	text-decoration: none;
	color: #0566E4;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

/* CHARACTER PAGE */
.justice-league{
	padding: 50px 100px;
	width: 100%;
	height: 550px;
	margin-bottom: 100px;
}

.justice-league img{
	max-width: 100%;
	width: 14%;
	min-height: 100%;
	height: auto;
}

.heroes{
	height: 550px;
	padding: 50px 100px;
	position: relative;
	background-image: url(../images/heroes.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.villains{
	height: 550px;
	padding: 50px 100px;
	position: relative;
	background-image: url(../images/villains.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 100px;
}


.browse-char{
	padding: 50px 100px;
	width: 100%;
	height: auto;
}

.browse-char .fa-search{
	font-size: 20px;
}

.split{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.character-icons{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.icons{
	width: 18%;
	height: 300px;
	position: relative;
	margin-right: 25px;
	margin-bottom: 25px;
	overflow: hidden;
}


.icons img{
	object-fit: cover;
	width: 100%;
	min-height: 100%;
	height: auto;
}

.filters{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15%;
	height: 200px;
}
.toolbar{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 50px 25px 0px;
}

.A-Z{
	position: relative;
	top: 10px;
	margin-left: 50px;
	background-color: transparent;
	border: none;
	outline: 3px solid #0566E4;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	color: #ffffff;
	padding: 20px 10px;
}
.page-number{
	text-align: center;
}
.page-number a {
	font-family: "Lato", sans-serif;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

.page-number a.active {
    color: #0566E4;
}

/*BATMAN*/
.char-name-wonder{
	width: 100%;
	height: 550px;
	background-image: url(../images/wonderwoman-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;
}

.char-name-supe{
	width: 100%;
	height: 550px;
	background-image: url(../images/superman-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;
}

.char-name{
	width: 100%;
	height: 550px;
	background-image: url(../images/batman-banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 100px;
}

.bio{
	width: 50%;
	margin-bottom: 100px;
}

.info {
	line-height: 1;
	width: 100%;
	height: auto;
	padding: 100px;
	position: relative;
	margin-bottom: 100px;
}
.info ul li{
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: #ffffff;
	margin: 0px;
	line-height: 1;
	padding-right: 25px;
}


.information{
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.stats-1{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 50px;
}

.stats-2{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 50px;
}

.transbat{
	position: absolute;
	top: 50px;
	right: 200px;
	height: 550px;
}

.transsupe{
	position: absolute;
	top: 50px;
	right: 200px;
	height: 550px;
}

.transww-2{
	position: absolute;
	top: 50px;
	right: 200px;
	height: 550px;
}


.latestCom{
	width: 100%;
	position: relative;
}

.latest-comics{
	width: 100%;
	padding: 100px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.comicB{
	width: 20%;
	height: 400px;
	margin-right: 25px;
	position: relative;
	overflow: hidden;
}

.comicB img{
	width: 100%;
	min-height: 100%;
	height: auto;
	object-fit: cover;
}

.latestCom button{
	position: absolute;
	bottom: 0;
	right: 100px;
}

.latest-app{
	padding: 100px 200px;
	margin-bottom: 100px;
	width: 100%;
	height: 750px;
	display: flex;
	flex-direction: row;
}

.latest-left{
	width: 65%;
	margin-right: 10px;
}


.latest-right{
	width: 35%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin-left: 10px;
}

.latest-right img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.latest-top {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.latest-top .latestB-1, .latest-top .latestB-2{
	width: 50%;
	overflow: hidden;
	position: relative;
}

.latest-top .latestB-1{
	margin-right: 10px;
}

.latest-top .latestB-2{
	margin-left: 10px;
}

.latest-top img{
	width: 100%;
	min-height: 100%;
	height: auto;
	object-fit: cover;
}

.latest-bottom{
	margin-top: 10px;
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.latest-bottom iframe{
	width: 100%;
	min-height: 100%;
	height: auto;
	object-fit: cover;
}